/*------------------------------------*\
	MAIN
\*------------------------------------*/

/* html element 62.5% font-size for REM use */


body {
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

